In [1]:
import pandas as pd
import featuretools as ft

In [2]:
data = pd.read_csv('data_DFS1.csv')
data.head()

     ID  P(E_S1)  P(E_T1)  P(HOMO)  P(LUMO)  P(dDM)  P(f_S1)
0  OPS1     0.39     0.70    0.280    0.260    0.88     0.44
1  OPS2     0.29     0.59    0.450    0.365    0.92     0.32
2  OPS3     0.28     0.55    0.435    0.340    0.91     0.45
3  OPS4     0.30     0.68    0.150    0.100    0.72     0.33
4  OPS5     0.15     0.44    0.660    0.400    0.67     0.41

In [3]:
es = ft.EntitySet(id="propertiy_data")
es = es.add_dataframe(dataframe_name='properties', dataframe=data, index='ID')
es['properties']

C:\Users\noton\anaconda3\envs\featuretools1\lib\site-packages\woodwork\type_sys\inference_functions.py:27: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if pdtypes.is_categorical_dtype(series.dtype):
C:\Users\noton\anaconda3\envs\featuretools1\lib\site-packages\woodwork\type_sys\utils.py:40: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  pd.to_datetime(
C:\Users\noton\anaconda3\envs\featuretools1\lib\site-packages\woodwork\type_sys\utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
C:\Users\noton\anaconda3\envs\featuretools1\lib\site-packages\woodwork\type_sys\utils.py:40: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  pd.to_datetime(
C:\Users\noton\anaconda3\envs\featuretools1\lib\site-packages\woodwork\type_sys\utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
C:\Users\noton\anaconda3\envs\featuretools1\lib\site-packages\woodwork\type_sys\inference_functions.py:189: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  pdtypes.is_categorical_dtype(series.dtype)
C:\Users\noton\anaconda3\envs\featuretools1\lib\site-packages\woodwork\type_sys\inference_functions.py:27: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if pdtypes.is_categorical_dtype(series.dtype):

            ID  P(E_S1)  P(E_T1)  P(HOMO)  P(LUMO)  P(dDM)  P(f_S1)
OPS1      OPS1     0.39     0.70    0.280    0.260    0.88    0.440
OPS2      OPS2     0.29     0.59    0.450    0.365    0.92    0.320
OPS3      OPS3     0.28     0.55    0.435    0.340    0.91    0.450
OPS4      OPS4     0.30     0.68    0.150    0.100    0.72    0.330
OPS5      OPS5     0.15     0.44    0.660    0.400    0.67    0.410
...        ...      ...      ...      ...      ...     ...      ...
OPS96    OPS96     0.11     0.19    0.070    0.070    0.75    0.710
OPS97    OPS97     0.58     0.18    0.010    0.010    0.37    0.370
OPS98    OPS98     0.54     0.17    0.020    0.020    0.39    0.460
OPS99    OPS99     0.18     0.16    0.050    0.030    0.41    0.125
OPS100  OPS100     0.41     0.23    0.060    0.060    0.66    0.060

[100 rows x 7 columns]

In [4]:
feature_matrix, feature_defs = ft.dfs(entityset=es,
                                      target_dataframe_name='properties',
                                      trans_primitives=['add_numeric', 'subtract_numeric', 'multiply_numeric', 'divide_numeric'],
                                      agg_primitives=[],
                                      max_depth=1)
feature_matrix

,P(E_S1),P(E_T1),P(HOMO),P(LUMO),P(dDM),P(f_S1),P(E_S1) + P(E_T1),P(E_S1) + P(HOMO),P(E_S1) + P(LUMO),P(E_S1) + P(f_S1),...,P(E_T1) - P(LUMO),P(E_T1) - P(f_S1),P(HOMO) - P(LUMO),P(dDM) - P(E_S1),P(dDM) - P(E_T1),P(dDM) - P(HOMO),P(dDM) - P(LUMO),P(dDM) - P(f_S1),P(f_S1) - P(HOMO),P(f_S1) - P(LUMO)
ID,,,,,,,,,,,,,,,,,,,,,
OPS1,0.39,0.70,0.280,0.260,0.88,0.440,1.09,0.670,0.650,0.830,...,0.440,0.260,0.020,0.49,0.18,0.600,0.620,0.440,0.160,0.180
OPS2,0.29,0.59,0.450,0.365,0.92,0.320,0.88,0.740,0.655,0.610,...,0.225,0.270,0.085,0.63,0.33,0.470,0.555,0.600,-0.130,-0.045
OPS3,0.28,0.55,0.435,0.340,0.91,0.450,0.83,0.715,0.620,0.730,...,0.210,0.100,0.095,0.63,0.36,0.475,0.570,0.460,0.015,0.110
OPS4,0.30,0.68,0.150,0.100,0.72,0.330,0.98,0.450,0.400,0.630,...,0.580,0.350,0.050,0.42,0.04,0.570,0.620,0.390,0.180,0.230
OPS5,0.15,0.44,0.660,0.400,0.67,0.410,0.59,0.810,0.550,0.560,...,0.040,0.030,0.260,0.52,0.23,0.010,0.270,0.260,-0.250,0.010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
OPS96,0.11,0.19,0.070,0.070,0.75,0.710,0.30,0.180,0.180,0.820,...,0.120,-0.520,0.000,0.64,0.56,0.680,0.680,0.040,0.640,0.640
OPS97,0.58,0.18,0.010,0.010,0.37,0.370,0.76,0.590,0.590,0.950,...,0.170,-0.190,0.000,-0.21,0.19,0.360,0.360,0.000,0.360,0.360
OPS98,0.54,0.17,0.020,0.020,0.39,0.460,0.71,0.560,0.560,1.000,...,0.150,-0.290,0.000,-0.15,0.22,0.370,0.370,-0.070,0.440,0.440
OPS99,0.18,0.16,0.050,0.030,0.41,0.125,0.34,0.230,0.210,0.305,...,0.130,0.035,0.020,0.23,0.25,0.360,0.380,0.285,0.075,0.095
OPS100,0.41,0.23,0.060,0.060,0.66,0.060,0.64,0.470,0.470,0.470,...,0.170,0.170,0.000,0.25,0.43,0.600,0.600,0.600,0.000,0.000

In [5]:
feature_matrix.to_csv('data_DFS2.csv', index=False)