In [1]:
import pandas as pd
from adapt.instance_based import TrAdaBoostR2
from sklearn.ensemble import HistGradientBoostingRegressor as hgb
from sklearn.metrics import mean_absolute_error

In [2]:
#Source=S1
source = 'S1'

data_s = pd.read_csv(f'data/DFT_FE2/data_s_{source}.csv')
data_s = data_s.drop(columns=['Name', 'ID'])

data_t_lab = pd.read_csv('data/DFT_FE2/data_t_lab_iso.csv')
data_t_lab = data_t_lab.drop(columns=['Name', 'ID'])
data_t_unlab = pd.read_csv('data/DFT_FE2/data_t_unlab_iso.csv')
ID_t_unlab = data_t_unlab[['Name', 'ID']]
data_t_unlab = data_t_unlab.drop(columns=['Name', 'ID'])

ys = pd.DataFrame(data_s['Yield'],columns=['Yield'])
Xs = data_s.drop(columns=['Yield'])
yt_lab = pd.DataFrame(data_t_lab['Yield'],columns=['Yield'])
Xt_lab = data_t_lab.drop(columns=['Yield', 'Reaction_2+2'])
Xt_unlab = data_t_unlab.drop(columns=['Reaction_2+2'])

model = TrAdaBoostR2(hgb(), n_estimators=23, Xt=Xt_lab, yt=yt_lab, random_state=0, verbose=0)
model.fit(Xs, ys)
y_pred = model.predict(Xt_unlab)
y_pred = pd.DataFrame(y_pred, columns=['Pred_yield'])
prediction = pd.concat([ID_t_unlab, y_pred], axis=1, join='inner')
prediction = prediction.sort_values('Pred_yield', ascending=False)
prediction.to_csv(f'result/DFT_FE2/prediction_iso_{source}.csv', index=False)
prediction.head()

        Name     ID  Pred_yield
9  4BrDPAIPN  OPS12   90.303807
8  4ClDPAIPN  OPS11   89.076935
5    4DPAIPN   OPS7   85.147708
0     4CzIPN   OPS1   83.767609
7   4FDPAIPN  OPS10   78.939751

In [3]:
exp = {'Exp_yield': [95, 96, 92, 91, 95]}
exp = pd.DataFrame(exp)
pred = pd.read_csv(f'result/DFT_FE2/prediction_iso_{source}.csv')
df = pd.concat([pred, exp], axis=1, join='inner')
mae = mean_absolute_error(df['Exp_yield'], df['Pred_yield'].round().astype(int))
print(f'MAE when using {source}:', round(mae, 1))
df

MAE when using S1: 8.4

        Name     ID  Pred_yield  Exp_yield
0  4BrDPAIPN  OPS12   90.303807         95
1  4ClDPAIPN  OPS11   89.076935         96
2    4DPAIPN   OPS7   85.147708         92
3     4CzIPN   OPS1   83.767609         91
4   4FDPAIPN  OPS10   78.939751         95

In [4]:
#Source=S6
source = 'S6'

data_s = pd.read_csv(f'data/DFT_FE2/data_s_{source}.csv')
data_s = data_s.drop(columns=['Name', 'ID'])

data_t_lab = pd.read_csv('data/DFT_FE2/data_t_lab_iso.csv')
data_t_lab = data_t_lab.drop(columns=['Name', 'ID'])
data_t_unlab = pd.read_csv('data/DFT_FE2/data_t_unlab_iso.csv')
ID_t_unlab = data_t_unlab[['Name', 'ID']]
data_t_unlab = data_t_unlab.drop(columns=['Name', 'ID'])

ys = pd.DataFrame(data_s['Yield'],columns=['Yield'])
Xs = data_s.drop(columns=['Yield'])
yt_lab = pd.DataFrame(data_t_lab['Yield'],columns=['Yield'])
Xt_lab = data_t_lab.drop(columns=['Yield', 'Reaction_CO_Cl'])
Xt_unlab = data_t_unlab.drop(columns=['Reaction_CO_Cl'])

model = TrAdaBoostR2(hgb(), n_estimators=23, Xt=Xt_lab, yt=yt_lab, random_state=0, verbose=0)
model.fit(Xs, ys)
y_pred = model.predict(Xt_unlab)
y_pred = pd.DataFrame(y_pred, columns=['Pred_yield'])
prediction = pd.concat([ID_t_unlab, y_pred], axis=1, join='inner')
prediction = prediction.sort_values('Pred_yield', ascending=False)
prediction.to_csv(f'result/DFT_FE2/prediction_iso_{source}.csv', index=False)
prediction.head()

         Name     ID  Pred_yield
9   4BrDPAIPN  OPS12   92.938324
8   4ClDPAIPN  OPS11   92.742970
0      4CzIPN   OPS1   88.021162
5     4DPAIPN   OPS7   84.496184
57      5CzBN  OPS67   81.060575

In [5]:
exp = {'Exp_yield': [95, 96, 91, 92, 84]}
exp = pd.DataFrame(exp)
pred = pd.read_csv(f'result/DFT_FE2/prediction_iso_{source}.csv')
df = pd.concat([pred, exp], axis=1, join='inner')
mae = mean_absolute_error(df['Exp_yield'], df['Pred_yield'].round().astype(int))
print(f'MAE when using {source}:', round(mae, 1))
df

MAE when using S6: 3.8

        Name     ID  Pred_yield  Exp_yield
0  4BrDPAIPN  OPS12   92.938324         95
1  4ClDPAIPN  OPS11   92.742970         96
2     4CzIPN   OPS1   88.021162         91
3    4DPAIPN   OPS7   84.496184         92
4      5CzBN  OPS67   81.060575         84